<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Pictures service</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link th:href="@{'/css/material-dashboard.min.css'}" rel="stylesheet" />
    <link th:href="@{'/css/material-icons.css'}" rel="stylesheet" />
    <script th:src="@{'/js/core/jquery.min.js'}"></script>
    <!-- JCrop plugin -->
    <link th:href="@{'/css/jcrop.css'}" rel="stylesheet">
    <script th:src="@{'/js/plugins/jcrop.js'}"></script>
    <!-- Custom CSS Styles -->
    <link th:href="@{'/css/custom-style.css'}" rel="stylesheet" />
</head>
<body class="">
<div class="wrapper ">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <button id="add_pictures_btn" class="btn btn-round mb-3" data-toggle="modal" data-target="#upload_pictures_dialog">
                                <i class="material-icons">add_photo_alternate</i>
                            </button>
                            <div id="pictures" class="gallery" style="min-height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade ml-auto mr-auto" id="upload_pictures_dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload pictures</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="up_pic_id" type="hidden"/>
                    <div class="row">
                        <div class="col up-pic">
                            <div id="up_pic_wrap" style="display: flex; min-height: 350px;">
                                <input type="file" id="up_pic" style="display:none;">
                                <label for="up_pic" style="margin: auto;">
                                    <a id="up_pic_btn" class="pointer">
                                        <i class="material-icons">image_search</i>
                                    </a>
                                </label>
                            </div>
                            <div class="hover-tools-wrap mr-auto ml-auto">
                                <img id="pic_cropped_img" width="450" class="rounded pointer m-auto" data-toggle="modal" data-target="#crop_dialog" alt="" src="">
                                <i id="up_pic_cancel" class="material-icons hover-tools pointer" style="display: none;">cancel</i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_up_pic_cancel" type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cancel</button>
                        <button id="btn_up_pic" type="button" class="btn btn-link">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cropDialog" class="modal">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: max-content !important;">
            <div class="modal-content" style="width: min-content !important;">
                <div class="modal-body">
                    <div class="row">
                        <div class="container jcrop-ux-no-outline">
                            <img id="inputCropImage" width="500" src="" class="rounded"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeCrop" type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cancel</button>
                    <button id="cropSubmit" type="button" class="btn btn-link">Crop image</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--   Core JS Files   -->
<script th:src="@{'/js/core/popper.min.js'}" type="text/javascript"></script>
<script th:src="@{'/js/core/bootstrap-material-design.min.js'}" type="text/javascript"></script>
<!--  Plugin for Sweet Alert -->
<script th:src="@{'/js/plugins/sweetalert2.js'}" type="text/javascript"></script>
<script>
    const STORAGE_URL = '[[${@environment.getProperty("url.service.storage.base")}]]';
</script>
<script th:src="@{'/js/index.js'}"></script>

</body>