<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Pictures service</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link th:href="@{'/css/material-dashboard.min.css'}" rel="stylesheet" />
    <link th:href="@{'/css/material-icons.css'}" rel="stylesheet" />
    <script th:src="@{'/js/core/jquery.min.js'}"></script>
    <!-- JCrop plugin -->
    <link th:href="@{'/css/jcrop.css'}" rel="stylesheet">
    <script th:src="@{'/js/plugins/jcrop.js'}"></script>
    <!-- Custom CSS Styles -->
    <link th:href="@{'/css/custom-style.css'}" rel="stylesheet" />
</head>
<body>
    
</body>